doctype html
head
  title HUFLIT API
  meta(charset='utf-8')
  link(href='./index.css', rel='stylesheet', type='text/css')
  link(href='//cdn.materialdesignicons.com/5.4.55/css/materialdesignicons.min.css', media='all', rel='stylesheet', type='text/css')
  link(rel='preconnect', href='https://fonts.gstatic.com')
  link(href='https://fonts.googleapis.com/css2?family=Open+Sans&display=swap', rel='stylesheet')
.main
  h1 Huflit API
  div
    h3  + Description
    p.m50
      | API Huflit page portal. NodeJs modules: 
      a(target='_blank', href='https://github.com/request/request-promise') request-promise
      | , 
      a(target='_blank', href='https://github.com/expressjs/express') express
      | , 
      a(target='_blank', href='https://github.com/cheeriojs/cheerio') cheerio
      | , 
      a(target='_blank', href='https://github.com/expressjs/body-parser') body-parser
      | .
  h3  + Introduction
  h4.m50
    span.post POST
    span Get Cookie (Login)
  .content
    span.title URL
    a.url(href='/profile') /profile
  .content
    span.title Body
    code
      | { 
      span.data user
      | , 
      span.data pass
      |  }
  .content
    span.title Response
  h4.m50
    span.post POST
    span Get Schedules
  .content
    span.title URL
    a.url(href='/Schedules') /Schedules
  .content
    span.title Body
    code
      | { 
      span.data cookie
      |  }
  .content
    span.title Response
  h4.m50
    span.post POST
    span Change Password
  .content
    span.title URL
    a.url(href='ChangePass') /ChangePass
  .content
    span.title Body
    code
      | { 
      span.data cookie
      | , 
      span.data oldPass
      | , 
      span.data newPass
      |  }
  .content
    span.title Response
  .lang
    h2  + Languages
    .container
      svg.svg-1(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 200 10')
        defs
          style.
            .cls-1 {
            fill: #ead036
            }
        title JavaScript
        g#Layer_2(data-name='Layer_2')
          g#Layer_1(data-name='Layer_1')
            rect.cls-1(width='200', height='10', rx='5')
      pre.
        \n100%        
    .container
      svg.svg-2(xmlns='http://www.w3.org/2000/svg', viewbox='0 0 10 10')
        defs
          style.
            .cls-2 {
            fill: #ead036
            }
        title Dot
        g#Layer_2(data-name='Layer_2')
          g#Layer_1(data-name='Layer_1')
            circle.cls-2(cx='5', cy='5', r='5')
      span JavaScript
ul.contact
  li
    a(href='https://github.com/vinhphan812', target='_blank')
      span.mdi.mdi-github  
      | GitHub
  li
    a(href='https://www.facebook.com/id.24.10.2001.788', target='_blank')
      span.mdi.mdi-github
      | Facebook
script.
  window.onload = function () {
  var hrefAPI = document.getElementsByClassName('url');
  for (var i of hrefAPI)
  i.textContent = location.origin + i.textContent;
  }
