:root {
	font-family: "Open Sans", sans-serif;
	font-weight: 500;
	font-size: 20px;
}

.main {
	padding: 10px 0;
	margin: auto;
	padding: 1rem;
	width: 55%;
	height: auto;
}

.post {
	color: #e29a5c;
	font-weight: 600;
}

.btn:focus {
	box-shadow: none !important;
}
